a[data-hydro-click*='{"event_type":"force_push_timeline_diff.click"']:after {
  content: 'View Changes';
  margin-left: 6px;

  padding: 3px 10px;
  line-height: 20px;

  border: 1px solid;
  border-radius: 6px;

  color: var(--color-btn-outline-text);
  background-color: var(--color-btn-bg);
  border-color: var(--color-btn-border);
}

/* Collapse codecov comment */
.unminimized-comment:has(.author[href="/apps/codecov"]) .edit-comment-hide {
  transition: max-height 0.4s linear 0.5s;
  max-height: 5000px;
  overflow-y: hidden;
}
.unminimized-comment:has(.author[href="/apps/codecov"]):not(:hover) .edit-comment-hide {
  max-height: 0px;
}

/* Prioritize PR reviewer options */
[data-filterable-for="review-filter-field"],
[data-filterable-for="assignee-filter-field"] {
  .select-menu-item:has(input[value="891392"]), /* buberdds */
  .select-menu-item:has(input[value="2093792"]), /* csillag */
  .select-menu-item:has(input[value="9722540"]) /* lubej */
  {
    border: 1px solid white;
  }

  .select-menu-item:has(input[value="1486192"]), /* bennetyee */
  .select-menu-item:has(input[value="2519303"]), /* abukosek */
  .select-menu-item:has(input[value="5273064"]), /* xmzheng */
  .select-menu-item:has(input[value="6883025"]) /* jberci */
  {
    opacity: 0.1;
  }
}
